process {
    cpus = 2
    memory = 1.GB
    withName: FOO {
        cpus = 4
        memory = {1.GB * task.cpus}
        container = 'ubuntu:23.04'
        publishDir = [path:"output/"] // Directives that take a map as input
        // publishDir = [
        //     [path: "output/"],
        //     [path: "secondary_output/"]
        // ]
    }
}