process.container = 'nextflow/rnaseq-nf'
docker.enabled = true // Alternatively use -with-docker on the command line

// Using the sha256 guarantees that the content won't change over time
process.container = 'nextflow/rnaseq-nf@sha256:aeacbd7ea1154f263cda972a96920fb228b2033544c2641476350b9317dab266'
docker.enabled = true